<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.enjoy.nerd"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="15" />
    
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    
    <application
        android:icon="@drawable/ic_launcher"
        android:name=".NerdApp"
        android:installLocation="preferExternal"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <activity
            android:name=".home.HomeActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.support.v4.app.FragmentActivity" />
        </activity>
        
       <activity
            android:name=".distraction.DistractionDetailActivity"
            android:screenOrientation="portrait" />
       
     <activity
            android:name=".distraction.ChatActivity"
            android:screenOrientation="portrait" />
       
       <activity
            android:name=".usercenter.LoginActivity"
            android:screenOrientation="portrait" />
             
       <activity
            android:name=".usercenter.RegisterActivity"
            android:screenOrientation="portrait" />
       
       <activity
            android:name=".usercenter.ConversationListActivity"
            android:screenOrientation="portrait" />
       
       
       <activity
            android:name=".distraction.DATypeSelectActivity"
            android:screenOrientation="portrait" />
              
       <activity
            android:name=".distraction.AddDATypeActivity"
            android:screenOrientation="portrait" />
       
       <service 
           android:name=".remoterequest.xmpp.IMMessageRecieverService"
           android:exported = "false"/>
       <provider
            android:name="com.enjoy.nerd.db.IMMessageProvider"
            android:authorities="com.enjoy.nerd" 
            android:exported="false"/>
    </application>

</manifest>